
*{
    background-origin:content-box ;
}

.body{
    background-image: url("../img/hom_page.jpg");
    background-size: auto;
    position: relative;
}

.listDiv{
    margin-top: 0px;
    margin-left: 9px; 
}

.listUl{
   list-style-type: none;
   overflow: hidden;
   margin: 0px;
   padding: 0px;  
}
.active>a{
    background-color: rgba(221, 207, 79, 0.5) !important;
    color: black !important;}
.listUl>li{
    float: left;
    width:10%;
    margin-top: 5px;
    margin-left: 8%;
}
.listUl>li>a{
    text-decoration: none;
    color: beige;
    border-radius: 50%;
    background-color: rgba(79, 67, 187, 0.493);
    font-size: 30px;
    display: block;
    text-align: center;
    font-family: cursive;
    }
.listUl>li>a:hover{
    background-color: rgba(245, 245, 220, 0.548);
    color: black;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 10%;
}
.dropdown-content>a{
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(79, 67, 187, 0.623); 
    color: beige;
    font-family: cursive;
}
.dropdown-content>a:hover{
    background-color: rgba(245, 245, 220, 0.575);
    color: black;   
}
.dropdown:hover>.dropdown-content{
    display: block;
}

.icon{
    width: 100px;height: 100px;float: left;margin-top: 10%;
}
.icon>ul{list-style-type: none;float: left;}
.icon>ul>li>a>img{
    width: 50px;margin-left: 50%;margin-top: 20%;   
}

.divImg>img{
    width: 300px;margin-left: 30px;margin-top: 5%;height: 400px;float: left;
    border-radius: 8%;
}
.describe{
    margin-right: 15%;float: right;font-size: 40px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgba(219, 200, 89, 0.801);
}
.describe>p{display: block; margin-top: 20%;width: 400px;height: 200px;}



#homeDiv{
    margin-top: 120px;
}


.deirazzorImg>img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    }    
.deirazzorImg{
   width: 33.33%;
   float: left;
   text-align: center;
}

.deirazzorImg>a{ 
    background-color: rgba(44, 40, 100, 0.35);
    color: rgb(152, 152, 72);
    font-size: 40px;
    font-family: cursive;
    text-decoration: none;
    margin-top: 4%;
    display: block;
    border-radius: 50%;
    width: 238px;
    margin: auto;
} 

 .tableDiv{float:left;width: 33.33%;color: rgb(180, 167, 80);box-sizing: border-box;font-size: 20px
    ;margin-top: 20px;}
.video{margin-left: 29%;margin-top: 8%;}
.menuButton{
    text-decoration: none;
    display: none;
    width: 50px;
    background-color: brown;
    text-align: center;
    border-radius: 50%;
}
@media only screen and (max-width:600px){
    .listUl>li{
        width: 100%;
    }
}

@media only screen and (max-width:600px){
    .listUl{
        display: none;
    }
.menuButton{
    display: block;
}
}
.unit{
    margin: 5px;
    /* border: 1px solid black; */
    float: left ;
    width: 24%;
    margin-top: 5%;
    color: rgb(152, 152, 72);
    
}
.unit:hover{
    /* border: 1px solid red; */
    box-shadow: 10px 10px 5px gray;
}
.unit img{
    width: 100%;
    margin: auto;
    height: 300px;
}
.desc{
    padding:15px;
    text-align: center;
  
}

@media only screen and (max-width:600px){
    .unit{
        width: 100%;
    }
}



/* @media only screen and (max-width:600px){ 
} لكي تتناسب مع الموبايل*/