
*{
    background-origin:content-box ;
}

.body{
    background-image: url("../img/hom_page.jpg");
    background-size: auto;
    position: relative;
}

.listDiv{
    margin-top: 0px;
    margin-left: 9px; 
}

.listUl{
   list-style-type: none;
   overflow: hidden;
   margin: 0px;
   padding: 0px;  
}
.active>a{
    background-color: rgba(221, 207, 79, 0.5) !important;
    color: black !important;}
.listUl>li{
    float: left;
    width:10%;
    margin-top: 5px;
    margin-left: 8%;
}
.listUl>li>a{
    text-decoration: none;
    color: beige;
    border-radius: 50%;
    background-color: rgba(79, 67, 187, 0.493);
    font-size: 30px;
    display: block;
    text-align: center;
    font-family: cursive;
    }
.listUl>li>a:hover{
    background-color: rgba(245, 245, 220, 0.548);
    color: black;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 10%;
}
.dropdown-content>a{
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(79, 67, 187, 0.623); 
    color: beige;
    font-family: cursive;
}
.dropdown-content>a:hover{
    background-color: rgba(245, 245, 220, 0.575);
    color: black;   
}
.dropdown:hover>.dropdown-content{
    display: block;
}

.icon{
    width: 100px;height: 100px;float: left;margin-top: 10%;
}
.icon>a>img{
    width: 50px;margin-left: 100%;overflow: hidden;margin-top: 50%;
}

.divImg>img{
    width: 350px;margin-left: 30px;margin-top: 5%;height: 500px;float: left;
    border-radius: 8%;
}
.describe{
    width: 200px;height: 200px;float: right;margin-right: 25%;font-size: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: red;
}
.randomImg>img{
    width: 400px;height: 400px;border-radius: 5%;margin-left: 20%;margin-top: 10%;
}
 .Deir-azzor{ 
   background-color: rgba(187, 169, 67, 0.411); 
   color: rgb(10, 10, 9);
   border-bottom-right-radius: 20%;font-size: 40px;font-family: cursive;text-decoration: none; margin-top: 23%;display: block;float: left;
} 
.menuButton{
    text-decoration: none;
    display: none;
    width: 50px;
    background-color: brown;
    text-align: center;
    border-radius: 50%;
}
@media only screen and (max-width:480px){
    .listUl>li{
        width: 100%;
    }
}

@media only screen and (max-width:380px){
    .listUl{
        display: none;
    }
.menuButton{
    display: block;
}
}




/* @media only screen and (max-width:600px){ 
} لكي تتناسب مع الموبايل*/