.clas1{color: white;font-size: 20px;border-collapse: collapse;width: 100%; background-color: rgb(173, 162, 162);height: 100%;
}
.clas2{color: rgb(243, 236, 236);font-size: 20px;border-collapse: collapse;
}
.clas3{color: black;font-size: 20px;border-collapse: collapse
}
.clas{background-image: url(d.jpg);background-repeat: no-repeat;margin: 0px;background-size: 100%;
}